.Navbar {
    color: white;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

.Navbar a {
    text-decoration: none;
    color: white;
}

.Navbar a:hover {
    color: red;
    transition: 0.3s;
}

.NavLinks a {
    padding-left: 15px;
}

@media (min-width: 2560px) {
    .Navbar {
        font-size: 65px;
    }
}

@media screen and (max-width: 480px) {
    .Navbar {
        font-size: 15px;
        display: block;
        max-width: 375px;
        width: 375px;
        margin: 10px;
        margin-bottom: 20px;
        text-align: center;
        
    }

    .NavLinks a {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        color: red;
    }
    
    .NavLinks a:first-child {
        padding-left: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Ваши стили для планшетов */
    .Navbar {
        font-size: 20px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .NavLinks a {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        color: red;
    }
}

