.Resume {
    color: white;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.ResumeLi:hover {
    cursor: pointer;
    color: red;
}

.ResumeAbout {
    color: white;
}

.ResumeUznat {
    margin-top: 30px;
}

.ResumeExpiriens {
    margin-top: 30px;
}

.ResumeExpiriens:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s;
}

.ResumeLink  {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ResumeLink:hover {
    color: red;
    transition: 0.3s;
}

.ResumeSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.ResumeIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
}

.ResumeContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}

.ResumeClose {
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(8, 28, 53);
    border: none;
    padding: 10px;
    border-radius: 2px;
}

.ResumeClose:hover {
    cursor: pointer;
    background-color: rgb(29, 12, 43);
    transition: 0.3s;
}

.ResumeDescription {
    font-size: 23px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.ResumeName {
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; 
}
  
.Modal {
    position: fixed;
    min-height: 300px;
    min-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #010b11;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000; 
}


@media (min-width: 2560px) {
    .Resume {
        font-size: 60px;
        text-align: center;
        margin-top: 200px;
    }

    .ResumeSkills {
        width: 900px;
        padding: 40px;
    }

    .ResumeIcons {
        max-width: 200px;
        max-height: 200px; 
    }

    .ResumeContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 40px; 
        align-items: center; 
    } 

    .ResumeClose { 
        font-size: 60px; 
        padding: 25px;
        position: relative;
        top: 10px;
        left: 300px;
    } 
    .ResumeDescription { 
        font-size: 60px;
    } 

    .ResumeName { 
        font-size: 80px; 
    } 
    .ResumeExpiriens {
        border: 1px solid;
        border-radius: 2px;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
    hr {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .Resume {
        font-size: 25px;
        display: block;
        align-items: center;
        max-width: 480px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ResumeAbout {
        max-width: 380px;
        text-align: center;
        margin-bottom: 15px;
    }

    hr {
        display: none;
    }

    .ResumeSkills {
        width: 380px;
        border: none;
        padding: 5px;
    }

    .ResumeExpiriens {
        border: 1px solid;
        border-radius: 2px;
    }

    .Modal {
        min-height: 500px;
        min-width: 375px;
        width: 375px;
        padding: 20px;
        border-radius: 5px;
        z-index: 10000; 
    }

    .ResumeDescription {
        font-size: 19px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    
    .ResumeName {
        font-size: 20px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Ваши стили для планшетов */
    .Resume {
        font-size: 25px;
        display: block;
        align-items: center;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ResumeAbout {
        text-align: center;
        margin-bottom: 15px;
    }

    hr {
        display: none;
    }

    .ResumeSkills {
        padding: 5px;
        font-size: 30px;    
        margin: 0 auto;    
    }

    .ResumeExpiriens {
        border: 1px solid;
        border-radius: 2px;
        width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1120px) {
    /* Ваши стили для ноутбуков и десктопов */
    .ResumeExpiriens {
        border: 1px solid;
        border-radius: 2px;
        width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .ResumeAbout {
        margin-right: 10px;
    }
}  