.Footer {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    color: white; 
    font-weight: 700; 
    font-size: 14px; 
    opacity: 0.4; 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    padding: 20px; 
}

@media (min-width: 2560px) {
    .Footer {
        font-size: 50px;
    }
  }